<div class="contentWrapper" ng-controller="friendController" ng-cloak>
  
  <div class="form-group form-inline form-group" ng-show="!newUser">
    <label for="friendEmailAddress" class="sr-only">Email address</label>
    <input type="text" class="form-control" id="friendEmailAddress" placeholder="Enter email" ng-model="friendEmailAddress">
    <button type="button" class="btn btn-primary" ng-click="lookUpFriendClick()">Add to course {{friendEmailAddress}}</button>
    <div class="spinner" ng-show="loading">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="alert  alert-success alert-inline" ng-show="friend.name">Added {{friend.name}} to the site.</div>
  </div>
	<div ng-show="newUser">
		<h4>User not found</h4>
		<p>The user has no account - use the form below to create and add to course site.</p>
		<div class="form-group form-inline form-group">
	    <input type="text" class="form-control" id="friendEmailAddress2" placeholder="Enter email" ng-model="friendEmailAddress">
	    <label for="friendNameFirst" class="sr-only">First name</label>
	    <input type="text" class="form-control" id="friendNameFirst" placeholder="First name">
	    <label for="friendNameLast" class="sr-only">Last name</label>
	    <input type="text" class="form-control" id="friendNameLast" placeholder="Last name">
	    <button type="button" class="btn btn-primary" ng-click="createFriendClick()">Create user and add to course</button>
	  </div>
	</div>
  
</div>