<instructor> has invited you to use Canvas. Click the Create Friend Account link provided below to create your U-M guest account and password. Once your account has been created you can log into Canvas at https://canvas.umich.edu/gateway/
<br/>
<br/>
When logging in, remember to enter your complete email address as your username along with the password that you specified during the account creation.<br/>
<br/>
Problems logging in to Canvas? Please contact the ITS Service Center for assistance (email <contactEmail> or call ###.###.####).<br/>