<instructor>:

The following user has been added to one of your Canvas courses:

<friend>

The user has been sent an email inviting them to your course.

Please contact the ITS Service Center for additional information (email@umich.edu or ###-###-####).