ctools.friend.url=
ctools.friend.contactemail=
ctools.friend.referrer=
ctools.friend.ksfilename=
ctools.friend.kspassword=
ctools.friend.friendemail=
ctools.friend.requesteremail=
ctools.friend.host=
