<sis_process_type> <course_number> in Canvas is taking more time to complete than expected.
The process will continue to run, but you will receive no further email notifications.
Please check course sections in a little while. If the process fails to complete, please notify xxx@xxx.xx.