<!-- add user Modal -->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" id="addUserLabel">Add a user to selected sections of {{coursemodal.course_code}}</span></h3>
  </div>
  <div class="modal-body addUserInner" id="addUserInner">
    <div class="well">
        <ul class="container-fluid">
            <li data-course-id="{{coursemodal.id}}">
              <div ng-show="newUserList || newUserList.length">
                <button type="button" class="btn btn-primary" ng-click="redoBulkUsers()">
                  Start over
                </button>
              </div>
              <div ng-show="!newUserList">
                <div class="form-group">
                  <label for="userList" class="sr-only">
                    Add users, comma separated.
                  </label>
                  <textarea ng-model="coursemodal.rawUserList" class="form-control" name="users" id="userList" rows="8"></textarea>
                </div>
                <div class="alert alert-warning" ng-if="newUserListTooLong">
                  More than 30 user names detected.
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" ng-click="parseUserList()">Lookup users</button>
                </div>
              </div>
              <div  ng-if="newUsersNotExist.length">
                <h3>New users <small>(accounts will be created and added to selected section)</small></h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">First name</th>
                      <th scope="col">Last name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="newUser in newUsersNotExist track by $index">
                      <th scope="row">
                        {{newUser}}
                      </th>
                      <td class="form-inline">
                        <label for="{{newUser}}fn" class="sr-only">Enter first name for user {{newUser}}</label>
                        <input type="text" id="{{newUser}}fn" class="form-control" name="" value="">
                      </td>
                      <td class="form-inline">
                        <label for="{{newUser}}ln" class="sr-only">Enter last name for user {{newUser}}</label>
                        <input type="text" id="{{newUser}}ln" class="form-control" name="" value="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div ng-if="newUsersExist.length">
                <h3>Existing users <small>(will be added to selected section)</small></h3>
                <p class="alert alert-warning" ng-if="multipleCandidateCount && multipleCandidateCount !==0">
                  <strong>Note: </strong>a search for these users returned more that one possibility in <strong>{{multipleCandidateCount}}</strong> cases. Indicate which one was intended, please.
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="newUser in newUsersExist track by $index">
                      <th scope="row">
                        {{newUser.input}}
                      </th>
                      <td class="form-inline">
                        <ul>
                          <li ng-repeat="cand in newUser.details" ng-class="newUser.details.length > 1?'row candRow':'row'">
                            <div class="col-md-10">{{cand.sortable_name}} <span ng-if="newUser.details.length > 1">({{cand.login_id}})</span></div>
                            <div class="col-md-2">
                             <button class="btn btn-default btn-xs" ng-if="newUser.details.length > 1" class="pull-right" ng-click="selectCand(newUser.input, $index)">Select</button>
                           </div>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>


                <ul class="coursePanel sectionListAddFriend" id="course{{coursemodal.id}}" ng-hide="userExists || newUser || addSuccess">
                    <li ng-repeat="section in coursemodal.sections | orderBy:'name'" class="row section" id="sect{{section.id}}">
                        <div class="col-md-5 sectionName">
                            <input type="checkbox" id="c{{section.id}}"
                              ng-model="section.selected" ng-change="sectionSelectedQuery()">
                            <label for="c{{section.id}}">{{section.name}}</label>
                        </div>
                        <div class="col-md-7">
                          <div class="btn-group pull-right">
                            <div>
                              <label for="s{{section.id}}" class="sr-only">Select role for user in section {{section.name}}</label>
                              <select id="s{{section.id}}">
                                <option value="StudentEnrollment">Student</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'" value="TeacherEnrollment">Teacher</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'"  value="TaEnrollment">TA</option>
                                <option value="ObserverEnrollment">Observer</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'" value="DesignerEnrollment">Designer</option>
                              </select>
                            </div>
                          </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <span ng-show="!coursemodal.sectionSelected">You need to select at least one section.</span>
    <div role="alert" class="spinner" ng-show="coursemodal.loadingLookupFriend">&nbsp;&nbsp;&nbsp;&nbsp;<span class="sr-only">Loading</span></div>
    <div role="alert" class="spinner" ng-show="coursemodal.loadingCreateUser">&nbsp;&nbsp;&nbsp;&nbsp;<span class="sr-only">Loading</span></div>
    <button type="button" ng-show="!coursemodal.sectionSelected" class="btn btn-primary" disabled>Next</button>
    <button type="button" ng-show="coursemodal.sectionSelected && !newUser && !userExists && !addSuccess" class="btn btn-primary" ng-click="lookUpCanvasFriendClick()">Next</button>
    <button type="button" ng-show="coursemodal.sectionSelected && !newUser && userExists && !addSuccess" class="btn btn-default"  ng-click="addAnother()">Start Over</button>
    <button type="button" ng-show="coursemodal.sectionSelected && !newUser && userExists && !addSuccess" class="btn btn-primary" ng-click="addUserToSectionsClick()">Add User</button>
    <button type="button" ng-show="addSuccess" class="btn btn-default"  ng-click="addAnother()">Add More Users</button>
    <button type="button" ng-show="addSuccess" class="btn btn-primary"  data-dismiss="modal">Done</button>
    <button type="button" ng-show="coursemodal.sectionSelected && newUser && !addSuccess" class="btn btn-default"  ng-click="addAnother()">Start Over</button>
    <button type="button" ng-show="coursemodal.sectionSelected && newUser && !addSuccess" class="btn btn-primary" ng-click="createFriendClick()">Add User</button>
  </div>
</div>
