<!-- add user Modal -->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" id="addUserLabel">Add users to selected sections of {{coursemodal.course_code}}</span></h3>
  </div>
  <div class="modal-body addUserInner" id="addUserInner">
    <div class="well">
        <ul class="container-fluid">
            <li data-course-id="{{coursemodal.id}}">
              <div ng-show="newUserList || newUserList.length">
                <button type="button" class="btn btn-default" ng-click="redoBulkUsers()">
                  Start over
                </button><br>
              </div>
              <div ng-show="!newUserList">
                <div class="form-group">
                  <label for="userList" class="sr-only">
                    Add users, one per line.
                  </label>
                  <textarea placeholder="Paste users, one per line." ng-model="coursemodal.rawUserList" class="form-control" name="users" id="userList" rows="8"></textarea>
                </div>
                <div class="alert alert-warning" ng-if="newUserListTooLong">
                  More than 50 user names detected.
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" ng-click="parseUserList()">Lookup users</button>
                </div>
              </div>
              <div class="alert alert-info" ng-if="lookingUpUsersWait">Looking up users - this may take a while.</div>
              <div  ng-if="newUsersNotExist.length">
                <h3>New users <small>(accounts will be created and added to section)</small></h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Email</th>
                      <th scope="col">First name</th>
                      <th scope="col">Last name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="newUser in newUsersNotExist track by $index">
                      <th scope="row">
                        {{newUser.email}}
                      </th>
                      <td>
                        {{newUser.first_name}}
                      </td>
                      <td>
                        {{newUser.last_name}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div ng-if="newUsersExist.length">
                <h3>Existing users <small>(will be added to selected section)</small></h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">First name</th>
                      <th scope="col">Last name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="newUser in newUsersExist track by $index">
                      <th scope="row">
                        {{newUser.email}}
                      </th>
                      <td>
                        {{newUser.first_name}}
                      </td>
                      <td>
                        {{newUser.last_name}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div ng-if="newUsersExistNoName.length">
                <h3>Existing users that had no name in Canvas <br><small>(will be added to selected section after updating them)</small></h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">First name</th>
                      <th scope="col">Last name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="newUser in newUsersExistNoName track by $index">
                      <th scope="row">
                        {{newUser.email}}
                      </th>
                      <td>
                        {{newUser.first_name}}
                      </td>
                      <td>
                        {{newUser.last_name}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <h3>Select a section to add these users to</h3>
                <ul class="coursePanel sectionListAddFriend" id="course{{coursemodal.id}}" ng-hide="userExists || newUser || addSuccess">
                    <li ng-repeat="section in coursemodal.sections | orderBy:'name'" class="row section" id="sect{{section.id}}">
                        <div class="col-md-5 sectionName">
                            <input type="checkbox" id="c{{section.id}}"
                              ng-model="section.selected" ng-change="sectionSelectedQuery()">
                            <label for="c{{section.id}}">{{section.name}}</label>
                        </div>
                        <div class="col-md-7">
                          <div class="btn-group pull-right">
                            <div>
                              <label for="s{{section.id}}" class="sr-only">Select role for user in section {{section.name}}</label>
                              <select id="s{{section.id}}">
                                <option value="StudentEnrollment">Student</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'" value="TeacherEnrollment">Teacher</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'"  value="TaEnrollment">TA</option>
                                <option value="ObserverEnrollment">Observer</option>
                                <option ng-if="section.courseRole === 'TeacherEnrollment'" value="DesignerEnrollment">Designer</option>
                              </select>
                            </div>
                          </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="processUserLists()">Process users</button>
    </div>
  </div>
</div>
