<div class="contentWrapper" ng-controller="courseController" ng-cloak>
    <h3>Launched from course</h3>
    <div class="alert alert-success reportContainer" id="successContainer" role="alert" style="display:none">
        <div class="msg"></div>
    </div>
    <div class="alert alert-danger alert-dismissible reportContainer" id="errorContainer" role="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="msg"></div>
    </div>
    <div class="container-fluid">
        <div class="coursePanel well nograb">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                        <h4>{{course.course_code}} <small ng-show="course.addingUser">First select sections, then specify user</small></h4>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="text-align:right;">
                        <button ng-show="loadingOtherCourses" class="btn btn-link spinner"></button>  
                        <button ng-disabled="course.addingUser" ng-hide="courses || !functionality.sections" class="btn btn-default" ng-click="getCoursesForTerm()">Add sections</button>
                        <button ng-show="course.dirty" class="btn btn-default" ng-click="getCoursesForTerm()">Save new sections</button>
                        <button ng-show="course.addingSections" class="btn btn-default" ng-click="cancelAddSections()">Cancel add sections</button>                        
                        <button ng-disabled="course.addingSections" ng-hide="!functionality.friends" class="btn btn-default" ng-click="addUsers()">Add users</button>
                    </div>
                </div>
            </div>    
            <ul class="container-fluid sectionList">
                <li class="row" ng-repeat="section in course.sections" id="{{section.id}}" data-parent-id="{{section.course_id}}"
                >
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-show="course.addingUser"><input type="checkbox" id="check{{section.id}}" ng-model="section.selected" ng-click="sectionSelectedQuery()"> <label for ="check{{section.id}}">{{section.name}}</label></span><span ng-show="!course.addingUser">{{section.name}}</span></div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                        <div class="btn-group pull-right" ng-show="course.addingUser">
                            <select ng-show="section.selected">
                                <option value="StudentEnrollment">Student</option>
                                <option value="TeacherEnrollment">Teacher</option>
                                <option value="TaEnrollment">TA</option>
                                <option value="ObserverEnrollment">Observer</option>
                                <option value="DesignerEnrollment">Designer</option>
                            </select>
                        </div>        
                        <a href="" ng-if="section.course_id !== course.id" ng-click="returnToCourse(section, $index)">Put back</a>
                    </div>
                </li>
            </ul>

            <div ng-show="course.sectionSelected" class="form-inline container-fluid">
                <div class="form-group" ng-show="!userExists && !newUser && !newUserFound">
                    <p ng-show="failedValidation">Please specify a valid NON UMICH email address</p>
                    <label class="sr-only" for="friendEmailAddress1">Email address</label>
                    <input class="form-control" type="text" ng-model="friendEmailAddress" id="friendEmailAddress1" placeholder="email address"> <button class="btn btn-default" ng-click="lookUpCanvasFriendClick()">Add user</button>
                    <div class="spinner" ng-show="loadingLookupFriend">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
                <div ng-show="newUser">
                  <p>The specified user ({{friendEmailAddress}}) has no account - use the form below to create.</p>
                  <div class="form-group form-inline form-group">
                    <p ng-show="failedValidation">Please specify a valid NON UMICH email address</p>
                    <label for="friendEmailAddress2" class="sr-only">Enter email</label>
                    <input type="text" class="form-control" id="friendEmailAddress2" placeholder="Enter email" ng-model="friendEmailAddress">
                    <label for="friendNameFirst" class="sr-only">First name</label>
                    <input type="text" class="form-control" id="friendNameFirst" placeholder="First name" ng-model="friendNameFirst">
                    <label for="friendNameLast" class="sr-only">Last name</label>
                    <input type="text" class="form-control" id="friendNameLast" placeholder="Last name" ng-model="friendNameLast">
                    <button type="button" class="btn btn-primary" ng-click="createFriendClick()">Create User and Add to Sections</button>
                    <div class="spinner" ng-show="loadingCreateUser">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                  </div>
                </div>
                <div  class="alert alert-danger" ng-show="newUserFail" >
                  {{friend_account.detailedMessage}}.
                </div>  
                <div  class="alert alert-success" ng-show="newUserFound" >
                  <p ng-show="friendDone">{{friend_account.detailedMessage}}. </p>
                  <p ng-show="canvasDone">
                    User <strong>{{friend.name}}  ({{friend.sis_user_id}})</strong> created in Canvas. 
                  </p>
                </div>
                <div> <span ng-show="addSuccess" class="alert alert-success alert-inline">User added to section(s)<em id="successFullSections"></em></span> <button class="btn btn-default" ng-click="addAnother()" ng-show="resetable">Add another</div>
                  <button style="visibility:hidden;width:1px;height:1px" type="button" class="btn btn-primary" id="addUserToSectionsClick" ng-click="addUserToSectionsClick()" ng-show="userExists || newUserExists">
                  Add user 
                </button>
              </div>                
            </div>
        
        
        <div class="coursePanel well nograb" ng-show="courses">
            <h4 style="padding:0 20px">Your Other Courses <small> (get their sections and then select which ones you want added to this course) </small></h4>
            <ul class="container-fluid courseList">
                <li ng-repeat="course in courses" class="course">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            {{course.course_code}}
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <a href="" ng-click="getSections(course.id)" ng-hide="course.sectionsShown">Get sections</a>
                        </div>
                    </div>
                        
                    <ul class="container-fluid sectionList">
                        <li class="row" ng-repeat="section in course.sections" id="{{section.id}}" data-parent="{{section.course_id}}" data-parent="{{course.id}}">
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{section.name}}</div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><a ng-hide="section.moved" href="" ng-click="appendToCourse(section, $parent.$index, $index)">Add to course</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
