<div class="contentWrapper" ng-controller="courseController" ng-cloak>
    <div class="alert alert-success reportContainer" id="successContainer" role="alert" style="display:none">
        <div class="msg"></div>
    </div>
    <div class="alert alert-danger alert-dismissible reportContainer" id="errorContainer" role="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="msg"></div>
    </div>
    <div class="container-fluid">
        <p>Here instructors can add people with non-UM email addresses and add other class sections to this course.</p>
        <div class="coursePanel well nograb">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8 col-xs-6">
                        <h4>Current sections <button ng-show="loadingSections" class="btn btn-link spinner"></button></h4>
                        <p ng-show="course.addingUser">Specify user, pick sections and roles the user will have, then click "Next".</p>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="text-align:right;">
                        <button ng-show="loadingOtherCourses" class="btn btn-link spinner"></button>  
                        <small ng-cloak ng-show="mpath_courses && (mpath_courses.length === 0 || mpath_courses.length === 1)">Cannot add sections (<a ng-click="showInfo()" href="#">why?</a>)</small>

                        <div ng-show="showPop" class="whyPop">
                            <small ng-show="(mpath_courses.length === 0 || mpath_courses.length === 1) && !mpath_courses_error">
                                You have no additional class sections for this term assigned to you to teach in M-Pathways/Wolverine Access. If you are teaching additional classes, please contact your departmental curriculum administrator.
                            </small>
                            <small ng-show="mpath_courses_error">
                                We were unable to contact M-Pathways/Wolverine Access to determine what classes you are teaching. Try again later.
                            </small>
                        </div>



                        <div class="btn-group" role="group">
                            <button ng-disabled="course.addingUser || mpath_courses.length === 0 || mpath_courses.length === 1 || !mpath_courses" ng-hide="course.addingSections" class="btn btn-default" ng-click="getCoursesForTerm()">Add sections</button>
                            <button ng-disabled="course.addingSections" class="btn btn-default" ng-click="addUserModal()" data-toggle="modal"  data-target="#addUserModal">Add non-UM users</button>
                            
                        </div>
                    </div>
                </div>

                <ul class="container-fluid sectionList">
                    <li ng-class="section.course_id !== course.id ? 'row addedSection' :'row'" ng-repeat="section in course.sections | orderBy:'name'" id="{{section.id}}" data-parent-id="{{section.course_id}}">
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-show="course.addingUser"><input type="checkbox" id="check{{section.id}}" ng-model="section.selected" ng-change="sectionSelectedQuery()"> <label for ="check{{section.id}}">{{section.name}}</label></span><span ng-show="!course.addingUser">{{section.name}}</span></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <div class="btn-group pull-right" ng-show="course.addingUser">
                                <select ng-show="section.selected">
                                    <option value="StudentEnrollment">Student</option>
                                    <option ng-hide="section.courseRole ==='TAEnrollment'" value="TeacherEnrollment">Teacher</option>
                                    <option ng-hide="section.courseRole ==='TAEnrollment'" value="TaEnrollment">TA</option>
                                    <option value="section.ObserverEnrollment">Observer</option>
                                    <option ng-hide="section.courseRole ==='TAEnrollment'"value="DesignerEnrollment">Designer</option>
                                </select>
                            </div>
                            <a href="" ng-if="section.course_id !== course.id" ng-click="returnToCourse(section, $index)">Put back<span class="sr-only"> {{section.name}}</span></a>
                        </div>
                    </li>
                </ul>
                <div class="container-fluid">
                    <span class="pull-left" role="alert">
                        <span ng-hide="!course.xLists">Sections added: </span>
                        <span class="label label-success" ng-repeat="xList in course.xLists">{{xList}}</span>
                    </span>
                    <span class="pull-right">
                        <button ng-show="course.addingSectionsDone" class="btn btn-default" ng-click="cancelAddSections()">Done</button>
                        <button ng-show="course.addingSections" class="btn btn-default" ng-click="cancelAddSections()">Cancel</button>
                        <button ng-show="course.dirty" class="btn btn-primary" ng-click="xListSections(course.id)">Save Sections</button>

                    </span>
                </div>


            </div>    
        <div class="container-fluid"  ng-show="filteredCourses.length === 0 && course.addingSections === true">
            <p></p>
            <p class="alert alert-info">You have no other course sites to pick sections from.</p>
        </div>
        <div class="coursePanel nograb" id="otherCourses" tabindex="-1" ng-show="filteredCourses.length > 0">
            <h4 style="padding:0 20px">Your Other Courses <small> (get their sections and then select which ones you want added to this course) </small></h4>
            <ul class="container-fluid courseList">
                
                <li ng-repeat="course in filteredCourses = (courses | filter:{id:'!' + contextCourseId})">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            {{course.course_code}}
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <span ng-hide="course.sectionsShown">
                                <span ng-show="!course.enabled">If you want to move a section out of this course, contact the Service Center.</span>
                                <a ng-hide="!course.enabled" href="" ng-click="getSections(course.id)">Choose sections to add <span class="sr-only"> from course {{course.course_code}}</a> <button ng-show="course.loadingOtherSections" class="btn btn-link spinner"></button>
                            </span>
                        </div>
                    </div>
                        
                    <ul class="container-fluid sectionList" tabindex="-1" id="sections{{course.id}}">
                        <li class="row" ng-repeat="section in course.sections | orderBy:'name'" id="{{section.id}}"> 
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{section.name}}</div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                <span ng-if="section.enabled"> <a ng-hide="section.moved" href="" ng-click="appendToCourse(section, $index)">Add <span class="sr-only"> {{section.name}} </span>to course</a></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
