<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a data-target="#geff" href="" aria-controls="geff" role="tab" data-toggle="tab">Grade Export File Formatter</a></li>
  <li role="presentation"><a data-target="#puff" href="" aria-controls="puff" role="tab" data-toggle="tab">Puff</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="geff">
    <h2 style="font-size:130%">Grade Export File Formatter</h2>
    <p>
      Use Grade Export File Formatter to reformat the "CSV File" from "Grades" into acceptable format for upload into "Faculty Center"
    </p>
    <div class="file-input" id="drop-zone" style="height: calc(100% - 50px);padding: 5%;margin-top: 20px;border: 3px dashed #bbb;text-align:center">

      <div class="text-center drop-file-instruct" style="font-size: 65px;color: rgb(187,187,187);font-weight: 200;pointer-events: none;">
        Drag file here
      </div>
      <div class="text-center drop-file-or" style="margin-top: -10px;margin-bottom: 10px;color: rgb(187,187,187);pointer-events: none;font-size: 25px;">
        or
        <p>choose a grade file</p>
      </div>
      <input class="btn btn-primary" id="csv-file" type="file" name="files" style="display:inline">
    </div>
    <div class="text-center" id="upload-file-info" style="padding-top: 10px;">
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="puff">
      <h2 style="font-size:130%">Trim grade export file to a section</h2>
      <div class="panel panel-default">
        <div class="panel-body" style="padding:5px 15px 20px 15px">
          <h3  style="font-size:110%">Step 1 - provide the file you downloaded from grade export.</h3>
          <div><input class="btn btn-default" id="trim-file" type="file" name="files" style="display:inline" file-model="trimfile"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body" style="padding:5px 15px 20px 15px">
          <div class="form-inline">
            <h3  style="font-size:110%">Step 2 - change some options</h3>
             <div><input type="checkbox" name="mute" id="mute" value="" ng-model="mute"> <label for="mute" style="font-weight:normal">Do not notify students</label></div>
             <div><label for="pointsPossible" style="font-weight:normal"> Change the Points Possible value: </label> <input type="text" ng-model="changePointsPossible" id="pointsPossible" class="form-control" style="width:4em"></div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body" style="padding:5px 15px 20px 15px">
          <h3  style="font-size:110%">Step 3 - indicate what section to trim it to.</h3>
          <ul style="margin-bottom:0">
            <li ng-repeat="section in sections">
              <input type="radio" name="sectionSelection" ng-value="section" ng-model="$parent.selectedSection" id="section{{section.id}}">
              <label style="font-weight:normal" for="section{{section.id}}">{{section.name}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body" style="padding:5px 15px 20px 15px">
          <h3  style="font-size:110%">Step 4 - trim. The trimmed file will be downloaded to your computer.</h3>
          <div> It will be named <code>&lt;uniqname>-&lt;section name>.csv</code></div>
          <div>
            <span ng-show="changePointsPossible">The points possible will be changed to <strong>{{changePointsPossible}}</strong>.</span>
            <span ng-show="!mute">Students <strong>will</strong> be notified.</span>
          </div>

          <div>
            <br>
            <button type="button" class="btn btn-primary" ng-click="trimToSection(selectedSection)" ng-disabled="!selectedSection || !trimfile">
              Trim <span ng-show="processing"> - working!</span>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<script type="text/javascript" src="vendor/utils/papaparse.min.js"></script>
<script type="text/javascript" src="assets-lti/js/geff.js"></script>
