

<div class="container-fluid">
  <h2 style="font-size:130%">Sub-Account Administrator Utilities</h2>
  <div class="panel panel-default">
    <div class="panel-body form-inline">
      <label for="selectFunction" class="sr-only">Select a task</label>
      <!-- select changes the currently selected function model -->
      <select id="selectFunction"
        ng-model="selectedFunction"
        ng-options="function.name for function in functions"
        ng-change="changeSelectedFunction()"
        class="form-control">
        <option style="display:none" value="">Select a task</option>
      </select>
      <!-- shows field information on current function -->
      <br><br>
      <div class="panel panel-default">
        <div class="panel-body">
          <span ng-show="availableSections.length">{{availableSections.length}} available <a href="" data-toggle="modal"  data-target="#listThingsModal" ng-click="selectedListName='Sections';selectedList = availableSectionsGrid"> section(s).</a></span>
          <span ng-show="!availableSections.length">No available sections.</span>
          <span ng-show="availableGroups.length">{{availableGroups.length}} available <a href="" data-toggle="modal"  data-target="#listThingsModal" ng-click="selectedListName='Groups';selectedList = availableGroupsGrid">group(s).</a></span>
          <span ng-show="!availableGroups.length">No available groups.</span>
          <span ng-show="availableGroupSets.length">{{availableGroupSets.length}} available <a href="" data-toggle="modal"  data-target="#listThingsModal" ng-click="selectedListName='Categories';selectedList = availableGroupSets">group categories</a></span>
          <span ng-show="!availableGroupSets.length">No available group sets. <a href="" ng-click="creatingGroupSet=true" ng-show="!creatingGroupSet">Create one?</a></span>
          <span ng-show="creatingGroupSet && !availableGroupSets.length" class="form-inline">
            <label for="newGroupSet" class="sr-only">New group set name</label>
            <input id="newGroupSet" type="text" name="" value="" placeholder="Group Set Name" ng-model="newGroupSet" class="form-control">
            <button type="button" class="btn btn-primary" ng-click="createGroupSet()">Create</button>
            <button type="button" class="btn btn-default" ng-click="creatingGroupSet = false;newGroupSet=''">Cancel</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <h4 style="font-size:110%">{{selectedFunction.name}}
  </h4>

  <div class="" ng-show="selectedFunction">
    <!-- current function field listing, including validation rules, available by toggling link above -->
    <div class="well" ng-show="csv_fields">
      <a href="" ng-click="csv_fields=false" class="pull-right" style="font-size:18px">&times;</a>
      <table class="table" style="width:auto">
        <caption >{{selectedFunction.type | uppercase}} Fields </caption>
        <tr>
          <th ng-repeat="field in selectedFunction.fields">
            {{field.name}}
          </th>
        <tr>
          <td ng-repeat="field in selectedFunction.fields">
            <div ng-repeat="(key, value) in field.validation" ng-hide="key==='val_message' || key==='grid_choices'">
              <strong>{{key}}: </strong>
              <span ng-hide="key==='choices' || key==='grid_choices'">{{value}}</span>
              <p ng-show="key==='choices'">
                <span style="padding-left:10px;font-size:90%" ng-repeat="val in value track by $index">{{val}}
                  <span ng-if="!$last"><br></span>
                </span>
              </p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <p ng-show="selectedFunction.notes">
      {{selectedFunction.notes}} <span ng-show="selectedFunction.type==='csv'"> See <strong><a href="" ng-click="csv_fields=true">CSV Info</a></strong> for data validation rules.</span>
  </p>
  <p ng-show="selectedFunction.type==='csv'">
    Your file must include these headers in the first row: <strong ng-repeat="field in selectedFunction.field_array">{{field}}<span ng-if="!$last">, </span></strong>
  </p>



  <div class="alert alert-danger" ng-show="(selectedFunction.id ==='users_to_groups'
    && !availableGroups.length)
    ||(selectedFunction.id==='users_to_groups_grid'
    && !availableGroups.length)
    || (selectedFunction.id ==='groups_to_sections' && !availableGroupSets.length)">
    There are no groups or group sets available in the course.
  </div>
  <!-- do not display upload controls if the chosen function involves groups and there are no groups in course -->
  <div ng-hide="(selectedFunction.id ==='users_to_groups'
    && !availableGroups.length)
    ||(selectedFunction.id==='users_to_groups_grid'
    && !availableGroups.length)
    || (selectedFunction.id ==='groups_to_sections' && !availableGroupSets.length)">
    <div class="" ng-show="selectedFunction.type==='csv'">
    <form class="form-inline well" id="fileForm">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="uploadCSV">Upload a CSV file</label>
          <input id="uploadCSV" class="btn btn-primary" type="file" type="file" file-model="csvfile">
        </div>
      </div>
      <div class="input-group">
        <span  ng-show="loading"class="alert-info alert-inline">Loading...</span>
        <span  ng-show="globalParseError"class="alert-danger alert-inline">{{globalParseError}}</span>
        <button ng-show="csvfile && content.data.length" class="btn btn-default" type="reset" ng-click="content={};errors=[];showErrors=false;log=[];globalParseError=null;" name="reset-file-input">Reset</button>
      </div>
      <!-- either there were errors in the CSV or there were no errors, in which case the user gets an upload control -->
      <div class="pull-right" ng-show="(content.data && content.data.length !==0) && (log  && log.length ===0)">
          No errors detected <button class="btn btn-primary" ng-click="submitCSV()">Upload</button>
      </div>
    </form>
    <div class="alert alert-danger" ng-show="log.length && content.data.length">
      <span ng-if="log.length >1">There were {{log.length}} errors</span><span ng-if="log.length ===1">There was {{log.length}} error</span>, highlighted below. <input type="checkbox" id="showErrors" name="" value="" ng-model="showErrors">        <label for="showErrors">Show error log and lines with errors only</label>
    </div>

    <!-- list of errors with line numbers -->
    <div class="panel panel-default"  ng-show="showErrors">
      <ul class="panel-body">
        <li ng-repeat="message in log track by $index">{{message}}</li>
      </ul>
    </div>
    <!-- tabled presentation of attached CSV file, error rows marked -->
    <table class="table" ng-show="content.data.length">
      <thead>
        <tr>
          <th>
          </th>
          <th ng-repeat="header in content.headers track by $index" scope="col">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{ 'table-danger': contentline.invalid}"
          ng-hide="showErrors && !contentline.invalid"
          ng-repeat="contentline in content.data track by $index">
          <td>
            {{$index+1}}
          </td>
          <td ng-repeat="item in contentline.data track by $index"  ng-class="{ 'table-danger': item.error}">
            {{item.value}} <a class="pull-right" href="" ng-show="item.error" title="{{item.message}}"><strong><i class="glyphicon glyphicon-question-sign"></i></strong></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="alert alert-danger" ng-show="selectedFunction.id==='users_to_sections_grid' && !availableSections.length">
    No sections available in the course.
  </div>
  <!-- form table presentation for adding users in a grid to sections of groups -->
  <div ng-show="(selectedFunction.id==='users_to_groups_grid' && availableGroups.length) ||(selectedFunction.id==='users_to_sections_grid' && availableSections.length)">
    <table class="table table-striped  table-hover" style="width:auto" id="gridTable">
      <thead>
        <tr>
          <th ng-repeat="field in selectedFunction.fields  track by $index" scope="col">{{field.name}}</th>
        </tr>
      </thead>
      <tr ng-repeat="i in getNumber(gridRowNumber) track by $index" class="formRow">
        <td ng-repeat="field in selectedFunction.fields track by $index">
          <input title="{{field.validation.val_message}}" ng-if="!field.validation.grid_choices && !field.validation.choices" type="text" class="form-control select" pattern="{{field.validation.pattern}}"  name="{{field.name}}{{$index}}" maxlength="{{field.validation.max}}" id="{{field.name}}{{$index}}" value="" placeholder="{{field.name}}" ng-class="{'first': $first, 'last': $last}">
          <select ng-if="field.validation.grid_choices" class="form-control select" name="" ng-class="{'first': $first, 'last': $last}">
            <option ng-if="field.validation.grid_choices" value="{{choice.id}}" ng-repeat="choice in field.validation.grid_choices">{{choice.name}}</option>
          </select>
          <select ng-if="field.validation.choices && !field.validation.grid_choices" class="form-control select" name="" ng-class="{'first': $first, 'last': $last}">
            <option ng-if="field.validation.choices" value="{{choice}}" ng-repeat="choice in field.validation.choices">{{choice}}</option>
          </select>


        </td>
      </tr>
    </table>
    <div>
      <button class="btn btn-primary" name="" ng-click="submitGrid()">Submit</button>
      <button type="button" class="btn btn-default" ng-click="gridRowNumber = gridRowNumber + 10" style="margin-left:50px">
        + Add 10 more rows
      </button>
    </div>

  </div>
</div>


<!-- debug panels TODO: remove when no longer needed -->
<p  class="container-fluid">
  <br>
  <a href="" ng-click="debug=!debug">Toggle context debug panels</a>
</p>
<div ng-show="debug" class="container-fluid">

  <h4>Course vals:</h4>

  <div class="well">
    <ul>
      <li>
        Course: {{course.name}}({{course.id}})
      </li>
    </ul>
  </div>
  <h4>Account vals:</h4>
  <div class="well">
    <table class="table">
      <tbody>
        <tr>
          <td>
            Course account
          </td>
          <td>
            {{course.account_id}}
          </td>

        </tr>
        <tr>
          <td>
            Course sections (SIS_IDs)
          </td>
          <td>
            <span ng-repeat="section in availableSections"><span class="label label-default">{{section}}</span> </span>
          </td>

        </tr>
        <tr>
          <td>
            Course group sets
          </td>
          <td>
            <span ng-repeat="groupset in availableGroupSets"><span class="label label-default">{{groupset.name}} ({{groupset.id}})</span><span ng-if="!$last">, </span></span>
            <span ng-show="!availableGroupSets.length">None</span>
          </td>
        </tr>

        <tr>
          <td>
            Course groups (SIS_IDs)
          </td>
          <td>
            <span ng-repeat="group in availableGroups"><span class="label label-default">{{group}}</span> </span>
            <span ng-show="!availableGroups.length">None</span>
          </td>
        </tr>
        <tr>
          <td>
              User able to function:
          </td>
          <td>
            <span ng-class="ltiLaunch.role_is_account_admin === 'true'?'label label-success': 'label label-danger'">{{ltiLaunch.role_is_account_admin}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <h4>LTI vals:</h4>
  <div class="well">
    <table class="table table-stripped">
      <tr ng-repeat="(key, value) in ltiLaunch">
        <td>
          {{key}}
        </td>
        <td>
          {{value}}
        </td>
      </table>
  </div>
</div>


<div class="modal fade" id="listThingsModal" tabindex="-1" role="dialog" aria-labelledby="listThingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title" id="listThingsModalLabel">Available {{selectedListName}}</span></h3>
      </div>
      <div class="modal-body">
        <table class="table table table-striped table-hover table-condensed">
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in selectedList">
              <td>{{item.name}}</td>
              <td>{{item.id}}</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
</div>
