

<div class="container-fluid">
  <h2 style="font-size:130%">Sub-Account Administrator Utilities</h2>
  <div class="panel panel-default">
    <div class="panel-body form-inline">
      <label for="selectFunction" class="sr-only">Select a task</label>
      <select id="selectFunction"
        ng-model="selectedFunction"
        ng-options="function.name for function in functions"
        ng-change="changeSelectedFunction()"
        class="form-control">
        <option style="display:none" value="">Select a task</option>
      </select>
      <span ng-show="availableSections.length">{{availableSections.length}} available sections.</span>
      <span ng-show="!availableSections.length">No available sections.</span>
      <span ng-show="availableGroups.length">{{availableGroups.length}} available groups.</span>
      <span ng-show="!availableGroups.length">No available groups.</span>
    </div>
    <div class="pull-right" ng-show="selectedFunction" style="margin:-45px 10px 0 0px">
      <div ng-hide="csv_fields"><a href="" ng-click="csv_fields=true">Show {{selectedFunction.type}} info</a></div>
      <div ng-hide="!csv_fields"><a href="" ng-click="csv_fields=false">Hide {{selectedFunction.type}} info</a></div>
    </div>
  </div>
  <h4 style="font-size:110%">{{selectedFunction.name}}</h4>

  <div class="" ng-show="selectedFunction">

    <div class="well" ng-show="csv_fields">
      <p>{{selectedFunction.notes}}</p>
      <table class="table" style="width:auto">
        <caption>{{selectedFunction.type | uppercase}} Fields </caption>
        <tr>
          <th ng-repeat="field in selectedFunction.fields">
            {{field.name}}
          </th>
        <tr>
          <td ng-repeat="field in selectedFunction.fields">
              <p ng-repeat="(key, value) in field.validation"><span class="label label-info">{{key}}: {{value}}</span> </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="alert alert-danger" ng-show="(selectedFunction.id ==='users_to_groups' && !availableGroups.length) || (selectedFunction.id==='users_to_groups_grid' && !availableGroups.length)">
    There are no groups available in the course.
  </div>
  <div ng-hide="selectedFunction.id ==='users_to_groups' && !availableGroups.length">
    <div class="" ng-show="selectedFunction.type==='csv'">
    <form class="form-inline well">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="uploadCSV">Upload a CSV file</label>
          <input id="uploadCSV" class="btn btn-primary" type="file" type="file" file-model="csvfile">
        </div>
      </div>
      <div class="input-group">
        <span  ng-show="loading"class="alert-info alert-inline">Loading...</span>
        <button ng-show="csvfile && content.length" class="btn btn-default" type="reset" ng-click="content=[];errors=[]" name="reset-file-input">Reset</button>
      </div>
      <div class="pull-right" ng-show="content.length !==0 && errors.length ===0">
          No errors detected <button class="btn btn-primary" ng-click="submitCSV()">Upload</button>
      </div>
    </form>
    <div class="alert alert-danger" ng-show="errors.length && content.length">
      <span ng-if="errors.length >1">There were {{errors.length}} errors</span><span ng-if="errors.length ===1">There was {{errors.length}} error</span>, highlighted below. <input type="checkbox" id="showErrors" name="" value="" ng-model="showErrors">        <label for="showErrors">Show errors only</label>
    </div>
    <table class="table" ng-show="content.length">
      <thead>
        <tr>
          <th>
          </th>
          <th ng-repeat="header in headers">
            {{header.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="showErrors && !contentline.invalid" ng-class="{ 'table-danger': contentline.invalid}" ng-repeat="contentline in content track by $index">
          <td>{{$index + 1}}</td>
          <td ng-repeat="item in contentline.data track by $index">
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="alert alert-danger" ng-show="selectedFunction.id==='users_to_sections_grid' && !availableSections.length">
    No sections available in the course.
  </div>
  <div ng-show="(selectedFunction.id==='users_to_groups_grid' && availableGroups.length) ||(selectedFunction.id==='users_to_sections_grid' && availableSections.length)">
    <form class="" action="index.html" method="post">
      <table class="table table-striped  table-hover" style="width:auto">
        <thead>
          <tr>
            <th ng-repeat="field in selectedFunction.fields" scope="col">{{field.name}}</th>
          </tr>
        </thead>
        <tr ng-repeat="i in getNumber(gridRowNumber) track by $index">
          <td ng-repeat="field in selectedFunction.fields track by $index">
            <input title="{{field.validation.val_message}}" ng-if="!field.validation.choices" type="text" class="form-control"  pattern="{{field.validation.pattern}}"  name="{{field.name}}{{$index}}" maxlength="{{field.validation.max}}" id="{{field.name}}{{$index}}" value="" placeholder="{{field.name}}">
            <select ng-if="field.validation.choices" class="form-control" name="">
              <option ng-if="field.validation.choices" value="" ng-repeat="choice in field.validation.choices">{{choice}}</option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <button class="btn btn-primary" name="" ng-click="submitGrid()">Submit</button>
        <button type="button" class="btn btn-default" ng-click="gridRowNumber = gridRowNumber + 10" style="margin-left:50px">
          + Add 10 more rows
        </button>
      </div>
    </form>
  </div>
</div>



<p  class="container-fluid">
  <br>
  <a href="" ng-click="debug=!debug">Toggle context debug panels</a>
</p>
<div ng-show="debug" class="container-fluid">

  <h4>Course vals:</h4>

  <div class="well">
    <ul>
      <li>
        Course: {{course.name}}({{course.id}})
      </li>
    </ul>
  </div>
  <h4>Account vals:</h4>
  <div class="well">
    <table class="table">
      <tbody>
        <tr>
          <td>
            Course account
          </td>
          <td>
            {{course.account_id}}
          </td>

        </tr>
        <tr>
          <td>
            Course sections (SIS_IDs)
          </td>
          <td>
            <span ng-repeat="section in availableSections"><span class="label label-default">{{section}}</span> </span>
          </td>

        </tr>
        <tr>
          <td>
            Course groups (SIS_IDs)
          </td>
          <td>
            <span ng-repeat="group in availableGroups"><span class="label label-default">{{group}}</span> </span>
            <span ng-show="!availableGroups.length">None</span>
          </td>
        </tr>
        <tr>
          <td>
            User root account
          </td>
          <td>
            {{account.rootAccountId}}
          </td>
        </tr>
        <tr>
          <td>
            User root account name:
          </td>
          <td>
            {{account.rootAccountName}}
          </td>
        </tr>
        <tr>
          <td>
            User matching sub account:
          </td>
          <td>
            {{account.subAccountId}}
          </td>
        </tr>
        <tr>
          <td>
            User matching sub account name:
          </td>
          <td>
            {{account.subAccountName}}
          </td>
        </tr>
        <tr>
          <td>
              User able to function:
          </td>
          <td>
            <span ng-class="account.enabled?'label label-success': 'label label-danger'">{{account.enabled}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <h4>LTI vals:</h4>
  <div class="well">
    <ul>
      <li>
        Course Id: {{ltiLaunch.custom_canvas_course_id}}
      </li>
      <li>
        ContextId: {{ltiLaunch.custom_canvas_context_id}}
      </li>
    </ul>
  </div>

</div>
