<br>

<h4>Course vals:</h4>

<div class="well">
  <ul>
    <li>
      Course: {{course.name}}({{course.id}})
    </li>
  </ul>
</div>
<h4>Account vals:</h4>
<div class="well">
  <ul>
    <li>
      Course acccount: {{course.account_id}}
    </li>

    <li>
      User account: {{accounts.user}}
    </li>
    <li>{{accounts.message}}</li>
    <li>
      Account enabled: <strong>{{accounts.enabled}}</strong>
    </li>

  </ul>
</div>
<h4>LTI vals:</h4>
<div class="well">
  <ul>
    <li>
      Course Id: {{ltiLaunch.custom_canvas_course_id}}
    </li>
    <li>
      ContextId: {{ltiLaunch.custom_canvas_context_id}}
    </li>
  </ul>
</div>
