/*set all bootstrap alerts to black text
to get WACG 2 AAA contrast, preserving the background colors*/
.alert, .alert-warning, .alert-info {
    color:#000 !important;
}

.mastHead {
    color:#fff;
}
.mastHead h1{
    color:#aaa;
    margin-top:10px;
    margin:0;
    padding:15px 5px 15px 15px;
    font-size:24px;
}

.contentWrapper {
    padding:25px 10px;
}

#content {
    background: #eee;
    border-width:0 1px;
    border-style: solid;
    border-color: #ccc;
 }

ul {
    padding: 1px 0 0 0;
    list-style: none;
}

.coursePanel, .coursePanelOther {
    margin-top:10px;
    padding:5px 0;
}
.coursePanel li, .coursePanelOther li {
    position:relative;
    margin: 5px 0;
    padding: 10px;
    background: #fff;
    border:1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(150, 150, 150, 0.15);
    -moz-box-shadow: 1px 1px 2px 0px rgba(150, 150, 150, 0.15);
    box-shadow: 1px 1px 2px 0px rgba(150, 150, 150, 0.15);
}

.coursePanel  li.course, .coursePanelOther  li.course  {
    background:#ffe;
}
.sectionList, .sectionListAddFriend {
    min-height: 25px;
}
.moveSections::before {
    content:"Drop sections here";
}
.moveSections {
    outline:1px dotted #ccc;
    margin-top:5px;
    padding:5px;
}
.sectionList li:hover {
    cursor:move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.nograb .sectionList li:hover {
    background:#eee;
    cursor:auto;
}
.sectionListAddFriend li:hover {
    cursor:default;
    cursor: default;
    cursor: default;

}
.sectionList li.grabbing {
    background-color:#eee;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.debugPanel {
    display:none;
    position:absolute;
    top:100px;
    z-index:200;
    left:25%;
    right:25%;
}

.whyPop {
    text-align: left;
    position:absolute;
    top:0;
    border:1px solid #ccc;
    background:#fff;
    top:35px;
    z-index:1;
    right:270px;
    padding:5px;
    webkit-box-shadow: 3px 3px 5px 0px rgba(212,208,212,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(212,208,212,1);
    box-shadow: 3px 3px 5px 0px rgba(212,208,212,1);
}

li.addedSection {
    background: #ffe;
 }

.getCourseInfo {
    display:none;
}
.onlyOneSection .getCourseInfo{
    display:inline;
}
.orphanMessage {
    display:none;
}
.noSections .orphanMessage {
    display:inline;
}
.listOfSectionsToCrossList {
    padding:5px 30px;
    margin:0;
}
.listOfSectionsToCrossList li{
    padding:5px;
    margin:0;
    line-height:20px;
}

.spinner{
    background: url("../images/spinner-xs.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.reportContainer {
    position:absolute;
    width:50%;
    margin:0 25%;
    z-index: 10000;
}
.otherSectionsTarget {
    border:1px solid #000 !important;
}

.coursePanelOther .courseOtherPanelChild, .coursePanel .coursePanelChild  {
    display:inline;
}
.coursePanel .otherSection {
    background:#eee;
}
.coursePanelOther .coursePanelChild, .coursePanel .courseOtherPanelChild  {
    display:none !important;
}

.otherInstructorInner {
    max-height: calc(100vh - 210px) !important;
    overflow-y: auto !important;
}
#courseGetEnrollmentsModal {
    z-index: 2000
}

.alert-inline {
    display:inline-block;font-size: 14px;font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.alert-inline.ng-enter {
    -webkit-animation:slideInRight 2s both ease, fadeIn 1s both ease 2s;
    -moz-animation:slideInRight 2s both ease, fadeIn 1s both ease 2s;
    animation:slideInRight 2s both ease, fadeIn 1s both ease 2s;
}


#otherCourses:focus, .sectionList:focus, #newUser:focus, #failedToValidateEmail:focus, #failedToValidateEmailName:focus,#addMessageContainer:focus {outline:none};

/* leave animation */
.alert-inline.ng-leave {
    -webkit-animation:slideOutLeft 2s both ease 1s, fadeOut 1s both ease;
    -moz-animation:slideOutLeft 2s both ease 1s, fadeOut 1s both ease;
    animation:slideOutLeft 2s both ease 1s, fadeOut 1s both ease;
}

[ng-cloak] {
  display: none !important;
}

tr.table-danger, tr.table-danger>td, tr.table-danger>th {
    background-color: #f2dede;
}


.alert-danger {
  color:#000
}

.table.ng-hide-remove {
  -webkit-animation:1s show;
  animation:1s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}



@media (max-width: 480px) {
    .col1, .col2, .col3 {
        padding:0
    }
    .colHeader {
        padding:0 10px;
        font-size:150%;
    }
}
