#set ($name_family = $ltiValues.get("lis_person_name_family").replace("'",""))
#set ($name_given = $ltiValues.get("lis_person_name_given").replace("'",""))
#set ($isAllowed = $ltiValues.get("isAllowed"))
#if($isAllowed == "true")
<!DOCTYPE html>
<html lang="en" ng-app="canvasSupportApp">
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="assets-lti/css/custom_style.css">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.css">
      <link rel="stylesheet" href="vendor/animate/animate.css">
      <title>U-M Course Manager</title>
      <script>
        var ltiLaunch = {
          'custom_canvas_course_id': '$ltiValues.get("custom_canvas_course_id")',
          'custom_canvas_enrollment_state': '$ltiValues.get("custom_canvas_enrollment_state")',
          'custom_canvas_user_login_id': '$ltiValues.get("custom_canvas_user_login_id")',
          'custom_canvas_user_id': '$ltiValues.get("custom_canvas_user_id")',
          'lis_person_contact_email_primary': '$ltiValues.get("lis_person_contact_email_primary")',
          'lis_person_name_family': '$name_family',
          'lis_person_name_given': '$name_given',
          'role_can_add_teacher':'$ltiValues.get("session_roles_for_adding_teacher")',
          'role_is_account_admin':'$ltiValues.get("isAccountAdmin")'
        };
      </script>
  </head>
  <body>

    <div class="alert alert-danger debugPanel alert-dismissible" id="debugPanel" role="alert" style="z-index:1051">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="debugPanelBody"></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top navLTI" role="navigation"  ng-controller="navController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header mastHead">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand collapse-nav">
                  <a ng-if="view !==''"  ng-click="changeView('')"  href="#ltihome">U-M Course Manager</a>
                  <span ng-if="view ===''" >U-M Course Manager</span>
                </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li ng-if="ltiLaunch.role_is_account_admin ==='true'">
                    <a ng-if="view !=='Sub Account Administrator Utils'" class="collapse-nav" ng-click="changeView('Sub Account Administrator Utils')"  href="#saa">Acct Admin Tools</a>
                    <span ng-if="view ==='Sub Account Administrator Utils'" class="navbar-text">Acct Admin Tools</span>
                  </li>
                  <li>
                    <a  ng-if="view !=='Grades'"  class="collapse-nav" ng-click="changeView('Grades')"  href="#grades">Gradebook CSV Formatter</a>
                    <span ng-if="view ==='Grades'" class="navbar-text">Gradebook CSV Formatter</span>
                   </li>
                  <li>
                    <a href="" class="collapse-nav" id="helpLink" data-url="help-lti.html">Help</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
<br><br><br>
    <div ng-view></div>
    <script src="vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <script src="assets-lti/vendor/angular/angular.min.js">
    </script>
    <script src="vendor/angular/angular-route.js">
    </script>
    <script src="assets-lti/vendor/angular/angular-animate.min.js">
    </script>
    <script src="assets-lti/vendor/angular/angular-aria.min.js">
    </script>
    <script src="vendor/bootstrap/bootstrap.min.js">
    </script>
    <script src="vendor/underscore/underscore-min.js">
    </script>
    <script src="assets-lti/js/utils.js">
    </script>
    <script src="assets-lti/js/app/app.js">
    </script>

    <script src="assets-lti/js/controllers/controllers.js">
    </script>
    <script src="assets-lti/js/factories/factories.js">
    </script>
    <script src="assets-lti/js/filters/filters.js">
    </script>
    <script src="assets-lti/js/services/services.js">
    </script>
    <!-- add user Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true" ng-controller="addUserController">
      <div class="modal-dialog modal-lg">
        <div ng-include src="'assets-lti/views/friends.html'"></div>
      </div>
    </div>
    <div class="modal fade" id="addBulkUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true" ng-controller="addBulkUserController">
      <div class="modal-dialog modal-lg">
        <!-- <div ng-include src="'assets-lti/views/add_bulk_user.html'"></div> -->

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="addUserLabel">Add users to selected sections of {{coursemodal.course_code}}</span></h3>
          </div>
          <div class="modal-body addUserInner" id="addUserInner">
            <div class="well">
                <ul class="container-fluid">
                    <li data-course-id="{{coursemodal.id}}">
                      <div ng-show="newUserList || newUserList.length" class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="redoBulkUsers()">
                          Start over
                        </button><br>
                      </div>
                      <h4>Provide  the data.
                        <br>
                        <small>Format: 3 columns, first name, last name, email address. Header first row: first_name, last_name, email.
                          <br>
                            <a  ng-show="!showTextArea" href="" ng-click="showTextArea = !showTextArea">Or paste in text with the same format.</a>
                            <a  ng-show="showTextArea" href="" ng-click="showTextArea = !showTextArea">Or upload a CSV with the same format.</a>
                        </small> <br>
                       </h4>
                      <div class="input-group" ng-show="!showTextArea">
                        <label class="input-group-btn">
                          <div class="{{inputClass}}">
                            Browse...
                            <i class="glyphicon glyphicon-upload" ng-show="!bulkfilename && !formatProblems"></i>
                            <i class="glyphicon glyphicon-ok" ng-show="bulkfilename && !formatProblems"></i>
                            <i class="glyphicon glyphicon-exclamation-sign" ng-show="formatProblems"></i>
                            <input class="sr-only" id="trim-file" type="file" name="files" style="display:inline" file-model="bulkfile">
                          </div>
                        </label>
                        <input type="text" class="form-control" readonly="" value="{{bulkfilename}}">
                      </div>
                      <div ng-show="showTextArea">
                        <div class="form-group">
                          <label for="userList" class="sr-only">
                            Add users, one per line.
                          </label>
                          <textarea placeholder="Paste header and user rows, one per line in the specified format" ng-model="coursemodal.rawUserList" class="form-control" name="users" id="userList" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" ng-click="parseUserList()">Lookup users</button>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-danger" ng-show="formatProblems">
                        Header format problem detected. Does your CSV file start with a line like <em>first_name,last_name,email</em>?
                      </div>
                      <div class="alert alert-warning" ng-show="newUserListTooLong">
                        More than 50 user names detected.
                      </div>
                      <div class="" ng-show="!formatProblems">
                        <div class="alert alert-warning" ng-show="failedValidationList.length">
                          Following email addresses are not valid and are not included in the lists below: <br> <strong>{{failedValidationList.join(', ')}}</strong>
                        </div>
                        <div class="alert alert-info" ng-show="newUsersNotExist.length || newUsersExist.length || newUsersExistNoName.length">
                          File contained <strong>{{newUsersNotExist.length}}</strong> new users, <strong>{{newUsersExist.length}}</strong> existing users, and <strong>{{newUsersExistNoName.length}}</strong> users with no name in Canvas.
                        </div>
                        <div class="alert alert-info" ng-show="lookingUpUsersWait">Looking up users - this may take a while.</div>
                          <div class="panel panel-default" ng-show="newUserList.length">
                            <div class="panel-body">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">
                                      Email
                                    </th>
                                    <th scope="col">
                                      First name
                                    </th>
                                    <th scope="col">
                                      Last Name
                                    </th>
                                    <th scope="col">
                                      Notes
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="user in newUserList">
                                    <td>
                                      {{user.email}}
                                    </td>
                                    <td>
                                      {{user.first_name}}
                                    </td>
                                    <td>
                                      {{user.last_name}}
                                    </td>
                                    <td>
                                      <span ng-show="user.create_friend && !user.friend_created">Friend account will be created <br> </span>
                                      <span ng-show="user.create_canvas_account  &&  !user.canvas_created">Canvas account will be created <br> </span>
                                      <span ng-show="user.update_canvas_account && !user.canvas_updated">Canvas names will be updated <br> </span>
                                      <span ng-show="user.friend_created">Friend account was created <br> </span>
                                      <span ng-show="user.canvas_created">Canvas account was created <br> </span>
                                      <span ng-show="user.canvas_updated">Canvas names were updated <br> </span>
                                      <span ng-show="user.added_to_section">Added to section {{user.sections_added.join(', ')}}<br> </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                        <!-- <div  ng-show="newUsersNotExist.length" class="panel panel-default">
                          <div class="panel-heading"><h4>New users <br><small>UM-Friend account will be created (if it does not exist), Canvas account will be created and it will be added to section.</small></h4></div>
                          <div class="panel-body">
                            <table class="table" style="margin-bottom:0">
                            <thead>
                              <tr>
                                <th scope="col">Email</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="newUser in newUsersNotExist track by $index">
                                <th scope="row">
                                  {{newUser.email}}
                                </th>
                                <td>
                                  {{newUser.first_name}}
                                </td>
                                <td>
                                  {{newUser.last_name}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                        <div  ng-show="newUsersExist.length" class="panel panel-default">
                          <div class="panel-heading"><h4>Existing users <br><small>Will be added to selected section.</small></h4></div>
                          <div class="panel-body">
                            <table class="table" style="margin-bottom:0">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="newUser in newUsersExist track by $index">
                                <th scope="row">
                                  {{newUser.email}}
                                </th>
                                <td>
                                  {{newUser.first_name}}
                                </td>
                                <td>
                                  {{newUser.last_name}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                        <div ng-show="newUsersExistNoName.length"  class="panel panel-default">
                          <div class="panel-heading"><h4>Existing users that had no name in Canvas <br><small>Will be added to selected section after updating their names.</small></h4></div>
                          <div class="panel-body">
                            <table class="table"  style="margin-bottom:0">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">First name (from file)</th>
                                <th scope="col">Last name (from file)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="newUser in newUsersExistNoName track by $index">
                                <th scope="row">
                                  {{newUser.email}}
                                </th>
                                <td>
                                  {{newUser.first_name}}
                                </td>
                                <td>
                                  {{newUser.last_name}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div> -->

                        <div ng-show="newUserList.length">
                          <h4>Select a section to add these users to</h4>
                          <ul class="coursePanel sectionListAddFriend" id="course{{coursemodal.id}}" ng-hide="userExists || newUser || addSuccess">
                                <li ng-repeat="section in coursemodal.sections | orderBy:'name'" class="row section" id="sect{{section.id}}">
                                    <div class="col-md-5 sectionName">
                                        <input type="checkbox" id="c{{section.id}}"
                                          ng-model="section.selected" ng-change="sectionSelectedQuery()">
                                        <label for="c{{section.id}}">{{section.name}}</label>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="btn-group pull-right">
                                        <div>
                                          <label for="s{{section.id}}" class="sr-only">Select role for user in section {{section.name}}</label>
                                          <select id="s{{section.id}}" class="form-control">
                                            <option value="StudentEnrollment">Student</option>
                                            <option ng-if="section.courseRole === 'TeacherEnrollment'" value="TeacherEnrollment">Teacher</option>
                                            <option ng-if="section.courseRole === 'TeacherEnrollment'"  value="TaEnrollment">TA</option>
                                            <option value="ObserverEnrollment">Observer</option>
                                            <option ng-if="section.courseRole === 'TeacherEnrollment'" value="DesignerEnrollment">Designer</option>
                                          </select>
                                        </div>
                                      </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <span ng-hide="newUserList.length">Provide some users above. </span>
              <span ng-hide="coursemodal.sectionSelected || !newUserList.length">Select at least one section.</span>
              <button class="btn btn-primary"
                ng-disabled = "!coursemodal.sectionSelected || !newUserList.length || formatProblems"
                ng-click="processUserList()">Process users</button>
            </div>
          </div>
        </div>

      </div>
    </div>


    <a aria-hidden="true" href="" style="position:fixed;right:0;top:60px;width:30px" ng-click="showDebug = !showDebug">&nbsp;</a>
    <div aria-hidden="true" ng-show="showDebug" class="alert alert-info">
        <script>
            var openshiftBuildInfo = '$openshiftBuildValues';
            if (openshiftBuildInfo) {
                document.write(openshiftBuildInfo);
            } else {
                document.write("No build Info Available")
            }
        </script>
    </div>
  </body>

</html>
#else
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
      <title>Not allowed</title>
    </head>
    <body>
      <br><br>
      <div class="alert alert-info">
        Sorry - you do not have permission to use this functionality.
      </div>
    </body>
  </html>
#end
