#set ($name_family = $ltiValues.get("lis_person_name_family").replace("'",""))
#set ($name_given = $ltiValues.get("lis_person_name_given").replace("'",""))
#set ($isAllowed = $ltiValues.get("isAllowed"))
#if($isAllowed == "true")
<!DOCTYPE html>
<html lang="en" ng-app="canvasSupportApp">
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="assets-lti/css/custom_style.css">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.css">
      <link rel="stylesheet" href="vendor/animate/animate.css">
      <title>U-M Course Manager</title>
      <script>
        var ltiLaunch = {
          'custom_canvas_course_id': '$ltiValues.get("custom_canvas_course_id")',
          'custom_canvas_enrollment_state': '$ltiValues.get("custom_canvas_enrollment_state")',
          'custom_canvas_user_login_id': '$ltiValues.get("custom_canvas_user_login_id")',
          'custom_canvas_user_id': '$ltiValues.get("custom_canvas_user_id")',
          'lis_person_contact_email_primary': '$ltiValues.get("lis_person_contact_email_primary")',
          'lis_person_name_family': '$name_family',
          'lis_person_name_given': '$name_given',
          'role_can_add_teacher':'$ltiValues.get("session_roles_for_adding_teacher")',
          'role_is_account_admin':'$ltiValues.get("isAccountAdmin")'
        };
      </script>
  </head>
  <body>

    <div class="alert alert-danger debugPanel alert-dismissible" id="debugPanel" role="alert" style="z-index:1051">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="debugPanelBody"></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top navLTI" role="navigation"  ng-controller="navController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header mastHead">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand collapse-nav">
                  <a ng-if="view !==''"  ng-click="changeView('')"  href="#ltihome">U-M Course Manager</a>
                  <span ng-if="view ===''" >U-M Course Manager</span>
                </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li ng-if="ltiLaunch.role_is_account_admin ==='true'">
                    <a ng-if="view !=='Sub Account Administrator Utils'" class="collapse-nav" ng-click="changeView('Sub Account Administrator Utils')"  href="#saa">Acct Admin Tools</a>
                    <span ng-if="view ==='Sub Account Administrator Utils'" class="navbar-text">Acct Admin Tools</span>
                  </li>
                  <li>
                    <a  ng-if="view !=='Grades'"  class="collapse-nav" ng-click="changeView('Grades')"  href="#grades">Gradebook Tools</a>
                    <span ng-if="view ==='Grades'" class="navbar-text">Gradebook Tools</span>
                   </li>
                  <li>
                    <a href="" class="collapse-nav" id="helpLink" data-url="help-lti.html">Help</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
<br><br><br>
    <div ng-view></div>
    <script src="vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <script src="assets-lti/vendor/angular/angular.min.js">
    </script>
    <script src="vendor/angular/angular-route.js">
    </script>
    <script src="assets-lti/vendor/angular/angular-animate.min.js">
    </script>
    <script src="assets-lti/vendor/angular/angular-aria.min.js">
    </script>
    <script src="vendor/bootstrap/bootstrap.min.js">
    </script>
    <script src="vendor/underscore/underscore-min.js">
    </script>
    <script src="assets-lti/js/utils.js">
    </script>
    <script src="assets-lti/js/app/app.js">
    </script>

    <script src="assets-lti/js/controllers/controllers.js">
    </script>
    <script src="assets-lti/js/factories/factories.js">
    </script>
    <script src="assets-lti/js/filters/filters.js">
    </script>
    <script src="assets-lti/js/services/services.js">
    </script>
    <!-- add user Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true" ng-controller="addUserController">
      <div class="modal-dialog modal-lg">
        <div ng-include src="'assets-lti/views/friends.html'"></div>
      </div>
    </div>
    <a aria-hidden="true" href="" style="position:fixed;right:0;top:60px;width:30px" ng-click="showDebug = !showDebug">&nbsp;</a>
    <div aria-hidden="true" ng-show="showDebug" class="alert alert-info">
        <script>
            var openshiftBuildInfo = '$openshiftBuildValues';
            if (openshiftBuildInfo) {
                document.write(openshiftBuildInfo);
            } else {
                document.write("No build Info Available")
            }
        </script>
    </div>
  </body>

</html>
#else
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
      <title>Not allowed</title>
    </head>
    <body>
      <br><br>
      <div class="alert alert-info">
        Sorry - you do not have permission to use this functionality.
      </div>
    </body>
  </html>
#end
